<h3>Product Create</h3>
<form #form="ngForm" (ngSubmit)="saveProduct(form)">
    <div class="alert alert-danger" *ngIf="error">
        {{ error }}
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input required minlength="5" [(ngModel)]="model.name" #name = "ngModel" type="text" class="form-control" name="name" id="name">
      <div class="text-danger mt-1" *ngIf="name.invalid && name.touched">
        Ürün ismi en az 5 karakter olmalıdır !
      </div>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input [(ngModel)]="model.price" type="number" required min="1" max="100000" #price = "ngModel" class="form-control" name="price" id="price">
        <div class="text-danger mt-1" *ngIf="price.invalid && price.touched">
            Ürün fiyatı değeri zorunludur ve değer aralığı (1 - 100000) olmalıdır !
          </div>
    </div>

    <div class="mb-3">
        <label for="imgUrl" class="form-label">ImgUrl</label>
        <input [(ngModel)]="model.imgUrl" type="text" class="form-control" name="imgUrl" id="imgUrl">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <ckeditor [(ngModel)]="model.description" name="description" id="description"></ckeditor>
    </div>

    <div class="form-check mb-3">
        <input [(ngModel)]="model.isActive" class="form-check-input" type="checkbox" name="isActive" id="isActive">
        <label class="form-check-label" for="flexCheckDefault">
            isActive
        </label>
    </div>

    <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        <select [(ngModel)]="model.categoryId" name="categoryId" id="categoryId" class="form-select">
            <option value="0">Kategori Seçiniz</option>
            <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save Product</button>
</form>
